{% extends "layout.html" %}

{% block head %}
    <meta name="description" content="Introducing Flask Wallet, make better spending decisions.">
    <title>About - SLAKE Wallet</title>
{% endblock %}

{% block content %}
<div class="wallet-padded wallet-colored mdl-typography--text-center">
    <div class="wallet-slogan">Starving to Sub?<br/>Full your Stomach and Sub at once!</div>
    <div class="wallet-sub-slogan">Set up a wallet. Earn. Sub<br/>Learn more about slakenet <a href="drpraze.github.io" target="_blank">here</a></div>
</div>
{% endblock %}