{% extends "layout.html" %}

{% block head %}
    <meta name="description" content="Make better spending decisions. Keep track of your finances.">
    <title>Dashboard - SLAKEnet</title>
{% endblock %}

{% block content %}
<div class="content-grid mdl-grid">
    <div class="wallet-padded-mini wallet-dashboard-section mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="wallet-slogan">SLAKES: {{ balance }}</div>
        <div class="wallet-sub-slogan">Left to spend!</div>
        
{% endblock %}